{% extends 'base.html' %}

{% block style %}
{% endblock %}

{% block script %}
{% endblock %}

{% block content %}
  <div class="container">
    
      <section class="first">
        <h1>
          Who We Are
        </h1>
        <img src="../static/img/about.png" alt="Man on a couch">
        
        <p>Haven was created by co-founders as a way to protect and support victims of hate crimes and harassment.</p>

        <p>With Amy, you can find local resources and assistance, including mental health resources, how to file police reports, and more.</p>

        <p>We hope to give you find some form of comfort with Haven.</p>
      </section>
  </div>
{% endblock %}
